<!DOCTYPE html>  
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title >Buscar Peliculas</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css" />
</head>
<body>
    <h1 style="margin-right: 20px; margin-left: 20px;">Buscar Pelicula</h1>

    <!-- formulario de busqueda -->
    <form th:action="@{/api}" method="get">
        <label for="title" style="margin-right: 20px; margin-left: 20px;">Titulo de la pelicula:</label>
        <input type="text" id="title" name="title" required placeholder="Ej. Inception">
        <button type="submit">Buscar</button>
    </form>

    <hr>

    <!-- detalles de la pelicula -->
    <div th:if="${movieData != null}">
        <h2 style="margin-right: 20px; margin-left: 20px;">Resultados de la busqueda</h2>
        
        <div th:each="movie : ${movieData}" style="display: flex; align-items: center; margin-bottom: 20px;"> <!-- Espacio entre resultados -->
            <img th:src="${movie['Poster']}" alt="Poster de la película" style="width: 100px; margin-right: 20px; margin-left: 20px;">
            
            <div>
                <p><strong>Titulo:</strong>
                    <a th:href="@{/movie/details/{id}(id=${movie['imdbID']})}" th:text="${movie['Title']}">Titulo de la pelicula</a>
                </p>
                <p><strong>Año:</strong> <span th:text="${movie['Year']}">Año</span></p>
                <p><strong>IMDb ID:</strong> <span th:text="${movie['imdbID']}">ID de IMDb</span></p>
            </div>
        </div>
        <hr>
    </div>
</body>
</html>
